version: '3.6'

services:
  web:
    build: .
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - solr
      - fcrepo
      - suri
      - workflow
      - redis
      - workers
      - db
    ports:
      - 3000:3000
    environment:
      DATABASE_NAME: dor_services
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      RAILS_LOG_TO_STDOUT: 'true'
      REDIS_URL: redis://redis:6379/
      # We don't actually use this anywhere but the rails server needs it in production env
      SECRET_KEY_BASE: e0221b0233dbe4914fae9405c1e179eb1db71379fd999c51265123a6dde45c8281235307dda0b8c06633b702a05679391a950a483f8c624642eb3c3211d4241d
      SOLR_URL: http://solr:8983/solr/dorservices
      SETTINGS__SSL__CERT_FILE: /app/spec/support/certs/spec.crt
      SETTINGS__SSL__KEY_FILE: /app/spec/support/certs/spec.key
      SETTINGS__SSL__KEY_PASS: thisisatleast4bytes
      SETTINGS__REDIS_URL: redis://redis:6379/
      SETTINGS__SOLR__URL: http://solr:8983/solr/dorservices
      SETTINGS__FEDORA_URL: http://fedoraAdmin:fedoraAdmin@fcrepo:8080/fedora
      SETTINGS__SURI__URL: http://suri:3000
      SETTINGS__WORKFLOW_URL: http://workflow:3000
  workers:
    build: .
    volumes:
      - ./:/app
    working_dir: /app
    command: bundle exec sidekiq
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis:6379/
      SOLR_URL: http://solr:8983/solr/dorservices
      SETTINGS__SSL__CERT_FILE: /app/spec/support/certs/spec.crt
      SETTINGS__SSL__KEY_FILE: /app/spec/support/certs/spec.key
      SETTINGS__SSL__KEY_PASS: thisisatleast4bytes
      SETTINGS__REDIS_URL: redis://redis:6379/
      SETTINGS__SOLR__URL: http://solr:8983/solr/dorservices
      SETTINGS__FEDORA_URL: http://fedoraAdmin:fedoraAdmin@fcrepo:8080/fedora
      SETTINGS__SURI__URL: http://suri:3000
      SETTINGS__WORKFLOW_URL: http://workflow:3000
  redis:
    image: redis:4
    ports:
      - 6379:6379
  solr:
    image: solr:slim
    volumes:
      - ./solr_conf/conf/:/myconfig
    command: solr-create -c dorservices -d /myconfig
    ports:
      - 8984:8983
  fcrepo:
    image: suldlss/fcrepo:no-messaging-latest
    ports:
      - 8983:8080
  suri:
    image: suldlss/suri-rails:latest
    ports:
      - 3002:3000
    depends_on:
      - db
    environment:
      DATABASE_NAME: suri
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
  workflow:
    image: suldlss/workflow-server:latest
    depends_on:
      - db
    ports:
      - 3001:3000
    environment:
      DATABASE_NAME: workflow-server
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: sekret
      DATABASE_HOSTNAME: db
      DATABASE_PORT: 5432
      SETTINGS__REDIS__HOSTNAME: redis
  db:
    image: postgres:11
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=sekret
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
