version: 2.1
orbs:
  ruby-rails: sul-dlss/ruby-rails@1.1.0
workflows:
  build:
    jobs:
      - ruby-rails/validate-api:
          name: validate
      - ruby-rails/lint:
          name: lint
          # Remove this once app is using Ruby3
          executor:
            name: ruby-rails/ruby-postgres
            ruby-tag: '2.7.5'
      - ruby-rails/test-rails:
          name: test
          api-only: true
          # Remove this once app is using Ruby3
          executor:
            name: ruby-rails/ruby-postgres
            ruby-tag: '2.7.5'
      - ruby-rails/docker-publish:
          context: dlss
          name: publish-latest
          image: suldlss/dor-services-app
          requires:
            - validate
            - lint
            - test
          filters:
            branches:
              only:
                - main
